**/logs
logs
*.log
*.lock
*.swp
*.swo
*.DS_Store
*.tmp

.vscode/
.sass-chache/
.versions/
tmp/
temp/
node_modules/
platforms
plugins
core/theme-builder/
core/test-components/
core/css/
angular/css/
.angular/cache

scripts/e2e/webpackEntryPoints.json
scripts/build/e2e-generated-tsconfig.json


