h5{
    padding: 15px 10% !important;
    text-align: center;
}

h2{
    padding: 0 10% !important;
    text-align: center;
}

p{
    padding: 0 10% !important;
    line-height: 150%;
    // text-align: center;
}

ol{
    padding: 0 !important;
    margin: 0 10% !important;
    line-height: 150%;
    // text-align: center;
}

.logo{
    padding: 15px !important;
    margin: auto;
    display: block;
}

.disabled{
    opacity: 0.2;
}
