<ion-tabs>

  <ion-tab-bar slot="top">
    <ion-tab-button tab="about">
      <ion-icon name="information-circle-outline"></ion-icon>
      <ion-label>About</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="conjugator">
      <ion-icon name="chatbubble-outline"></ion-icon>
      <ion-label>Conjugator</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="instructions">
      <ion-icon name="help-circle-outline"></ion-icon>
      <ion-label>How to Use</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>